html {
    scroll-behavior: smooth;
  }
.navbar{
    position: fixed;
    width: 100%;
    height: 75px;
    top: 0;
    display: flex;
    flex-direction: row;
    z-index: 2;
    background: rgba(0, 0, 0, 0.80);
    font-family: 'Poppins', sans-serif;
    
}
.navbarli{
    font-family: 'Poppins', sans-serif;
}
.logoimg{
    position: relative;
    top: -8px;
    width: 190px;
}
.userImage{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: aliceblue;
    margin-right: 35px;
    margin-top: 10px;
}
.userInfoNav{
    display: flex;
    flex-direction: row;
}
.headername{
    margin-left: 50px;
    color: aqua;
}

.hidebooked{
    padding-top: 15px;
    position: absolute;
    display:none;
}

.logout{
    color:white;
    padding-right:50px ;
    padding-top:10px ;
    font-size:18px ;

}
.logout:hover{
    
   cursor: pointer;
}
.navdropdown{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
.navdropdown:hover{
    color: red;
}



.navul{
    text-decoration: none;
    list-style: none;
    color: white;
    display: flex;
    padding-left: 190px;
    margin-top: 15px;
}
.navbarli{
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding-right: 60px;
    transition: 0.5s;
    cursor: pointer;
}

.auth{
    color: white;
    text-decoration: none;
}
.navbari{
    text-decoration: none;
    list-style: none;
    color:white;
    transition: 0.5s;
    font-size: 20px;
    font-weight: 200;
}
.navbari:hover{
    color: red;
}
.search{
    font-size: 17px;
    margin-left: 34px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: 0.5s;
}
.search:hover{
    color: red;
}
.icons{
    margin-left: 400px;
    margin-right: 50px;
    margin-top: 10px;
}
#na2{
    height:35px; width:35px; border-radius:50%;
} 
@media(max-width:1000px){
    .navbar{
        width: 100%;
        height: 290px;
        justify-content: flex-start;
      
    }
    .logoimg{
        width: 21rem;
    }
    .navul{
        margin-left: 100px;
        padding-left: 0px;
        /* font-size: 5rem; */
    }
    .navbarli{
        padding-top: 20px;
        /* font-size: 45px; */
        /* font-size: 5rem; */
    }
    .navbari{
        font-size: 2.5rem;
    }
    .usernameo{
        font-size: 35px;
    }
    
    .logoutnname{
       margin-top: 8rem;
        position: fixed;
        right: 5rem;
        /* font-size: 3rem; */
    }
    #na1{
        font-size: 3rem;
    }
    #na2{
         width:6rem; border-radius:50%;
         height: 6rem; 
    }
}

