.new{
    background-color: rgb(31,31,31);
    position: relative;
    top:-60px;
    height: 1400px;
    width: 100%;
    color: white;
    padding-top: 80px;
    font-family: 'Poppins', sans-serif;
}
.newContainer{
    margin:100px;
}
input:focus {outline:none;}

.top{
    
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
    font-family:  'Poppins', sans-serif;
    color: antiquewhite;
    font-weight: 900;
    margin-top: 100px;
}
.right{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputform{
    width: 1075px;
    border-radius: 5px;
    border: 0.5px solid gray;
    padding-top: 15px;
    padding-left: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(20, 20, 20);
        box-shadow: 4px 4px 10px 0px black;
}

.formInput{
   padding-right: 145px;
    padding-top: 6px;
    padding-bottom: 10px;
}
#numTicketTypes{width: 100px;left: -16rem; position: relative; background-color: rgb(31,31,31);color: white;border: 0px none; border-radius: 5px;}
.inputlabel{
    color:rgb(235, 222, 204); font-size:12px;
}

.inputoption{
    background-color: rgb(39,39,39);
    color: rgb(145, 145, 145);
    border: 1px rgb(102, 102, 102) solid;
    border-radius: 3px;
}

.inputstyle{
    padding-left: 10px;
    width: 450px;
    height: 55px;
    background-color: rgb(235, 232, 220);
    color: rgb(145, 145, 145);
    border: 1px rgb(102, 102, 102) solid;
    border-radius: 3px;
}
.createtktbtn{
    margin-left: 50px;
    width: 180px;
    height: 50px;
    margin-top: 25px;
    margin-bottom: 30px;
    border: none;
    border-radius: 4px;
    background-color: rgb(171, 7, 7);
    color: rgb(240, 228, 209);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.qwert{
    display: flex;
    margin-left: 120px;
    text-align:center; align-items:center; margin-left:460px;
}
 @media(max-width:1000px){
    .new{
        width: 331%;
        height: 51752px;
    }
    .newContainer{
        margin-top: 200px;
    }
    .top{
        display: flex;
    }
    .tip{
        margin-left: 20rem;
    }
    .toptitle{
        margin-top: 400px;
        font-size: 150px;
    }
    .inputform{
        display: flex;
        flex-direction: column;
        width: 1300px;

    }
    .inputlabel{
        font-size: 60px;
        padding-left: 30px;
        padding-top: 20px;
    }
    .inputstyle{
        margin-left: 30px;
        width: 1180px;
        height: 80px;
        font-size: 55px;
    }
    .inputoption{
        height: 80px;
        width: 120px;
        font-size: 40px;
    }
    .createtktbtn{
        width: 402px;
        height: 150px;
        margin-top: 40px;
        font-size: 50px;
        
    }
    #numTicketTypes{
        margin-bottom: 3rem;
        border: 6px solid gray;
        width: 22rem;
        height: 10rem;
        left: 4rem;
    }
    #s{
        font-size: 4rem;
    }
    .rdrCalendarWrapper{
        font-size: 45px;
    }
} 